<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} 
            Blog-site
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href=" {% url 'home' %} ">Blog-site</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              {% if cat_menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                  {% for item in cat_menu %}
                    <li><a class="dropdown-item" href=" {% url 'category' item|slugify %} ">
                      {{item}}</a></li>
                  {% endfor %}
                </ul>
              </li>

              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'category-list' %} ">Categories</a>
                </li>
          
              {% endif %}


              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'add_post' %} ">Add Post</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'add_category' %} ">Add Category</a>
                </li>
                


                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a></li>
                    
                    {% if user.profile.id %}
                      <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
                      <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page </a></li>
                    {% else %}
                    <li><a class="dropdown-item" href=" {% url 'create_profile_page' %} ">Create Profile Pge</a></li>
                    {% endif %}


                    
                  </ul>
                </li> 

                
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'logout' %} ">Logout</a>
                </li>

                  

              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'register' %} ">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'login' %} ">Login</a>
                </li>

              {% endif %}
              
              
              
              
          </div>
        </div>
      </nav>

    <br>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>