{% extends 'base.html' %}
{% block content%}

{% if category_posts %}

<h1> Category <b>{{ cats }}</b></h1><br>

<ul>

{% for post in category_posts %}

    <li> <a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a> - {{ post.author }}  <br> <small> {{post.created_on}} <br> 
        {{post.content| truncatewords_html:20| safe}}<br> </small> 
        <!-- checking authentication -->
        {% if user.is_authenticated %}
            <small><a style="margin-left: 5px;" href=" {% url 'update_post' post.pk %} "> (Edit) </a></small>
            <small><a style="margin-left: 5px; color: red;" href=" {% url 'delete_post' post.pk %} "> (Delete) </a></small>
            <br><br>
        {% endif %}
        
    </li> 

{% endfor %}
</ul>

{% else  %}
    <h2>No existing page!!!</h2>

{% endif %}

{% endblock %}

