{% extends 'base.html' %}
{% block title %} Delete Post {% endblock %}


{% block content%}


{% if user.is_authenticated %}
<h1>Delete Post...</h1>
<br> 
<h3> Delete: {{post.title}} post </h3>
<div class="form-control">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure?! </strong> <br><br>
        <button  class="btn btn-dark">Delete Post</button>
        <a style="margin-left: 20px;" href=" {% url 'home' %} " class="btn btn-dark" > Go Back <-- </a>
    </form>
</div>
{% else %}
<p style="color:red ;"> <strong> You are not able delete post! </strong></p> (PLease login then try again) 
{% endif %}

{% endblock %}