{% extends 'base.html' %}

{% block title %} Edit Profile Page {% endblock %}



{% block content%}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <h1>Edit Profile...</h1>
        <br> <br>

        <div class="form-control">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark">Update Profile</button>
            </form>
        </div>
    
    
    {% else %}
        You are not allowed to edit! Login as an author :)
    {% endif %}

{% else %}
    <p style="color:red ;"> <strong> You are not allowed to edit! </strong></p> (PLease login then try again) 
{% endif %}
    

{% endblock %}