{% extends 'base.html' %}
{% load static %}

{% block content%}

<h1>User Profile...</h1> 
<br>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">
{% if page_user.profile_pic %}
  <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="photo of author" width=150>
{% else %}
  <img src="{% static 'post_app/images/default-profile.png' %} " class="img-fluid rounded-start" alt="photo of author" width=100>
{% endif %}

      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title"> 
            {{page_user.user.first_name}} 
            {{page_user.user.last_name}} 
          </h5>
          <!-- Social network links -->
          <p class="small text-muted" >


            {% if page_user.website_url %}
                <a href=" {{ page_user.website_url }} "> Website | </a>
            {% endif %}

            {% if page_user.instagram_url %}
                <a href="{{ page_user.instagram_url }}">Instagram | </a>
            {% endif %}

            {% if page_user.telegram_url %}
                <a href="{{ page_user.telegram_url }}"> Telegram </a>
            {% endif %}
          </p>

          <p class="card-text"> {{ page_user.bio }} </p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

